.CartPage__items {
  margin: 0;
  padding: 0;
}
.CartPage__items li {
  list-style: none;
}
.CartItem__controls--count {
  padding: 5px 10px;
  border: 1px solid #ccc;
}
.CartItem__controls--addOne,
.CartItem__controls--removeOne {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}
.CartItem__controls--addOne {
  border-left: none;
}
.CartItem__controls--removeOne {
  border-right: none;
}
.CartPage__empty {
  text-align: center;
  font-size: 1.2rem;
}
.CartPage__empty > p {
  margin-bottom: 1rem;
}
.CartPage__total {
  display: flex;
  justify-content: flex-end;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.5rem 0.5rem 0 0;
}
