.Item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.Item__image {
  width: 64px;
  height: 64px;
  border: 1px solid #ccc;
  margin-right: 10px;
  float: left;
}
.Item__title {
  font-weight: bold;
  margin-bottom: 0.4em;
}
.Item__price {
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
  color: #555;
}

.Item--left {
  flex: 1;
}
.Item--right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
